#a1{width: 400px;height:auto;background-color: green;padding:40px;}
#a2{background-color: rgb(0, 60, 255);width: 30px;height: 20px; padding: 10px;}
#a3{background-color: rgb(183, 0, 255);width: 40px;height: 20px;padding: 10px;}
#a4{background-color: rgba(128, 0, 128, 0.541);width: 30px;height: 20px;padding: 10px;}
input[type=text]{background-color: rgb(255, 0, 0);width: 100px;height: 20px;}
input[type=number]{background-color: rgb(255, 0, 0);width: 100px;height: 20px;}
#m{font-size: 60px;}
#t1{color: red;font-size: 100px;}
#i{color: blue;font-size: 60px;}
#u1{color: red;font-size: 30px;}